<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Gerenciador de Incidentes</title>

<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/webjars/font-awesome/5.8.2/css/all.css" />

</head>
<body>
	<div>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <a class="navbar-brand" href="#" th:href="@{/}">Telzir Ligações</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		        <a class="nav-link" th:href="@{/calculadora}" href="#">Calculadora</a>
		      </li>
		    </ul>
		  </div>
		</nav>
		
		<div class="container">
			<h1 th:insert="${conteudo} :: header">cabeçalho falso</h1>
			<div th:insert="${conteudo} :: content">content falso</div>
		</div>
		
	</div>
	
	<script type="text/javascript" src="/webjars/jquery/3.3.1/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>